page-about {

}

.atitle{
  font-family: Helvetica;
}
.atitle{
    text-align: center;
}
img{
  position: center;
  bottom: auto;
}
#logo{
  position: absolute;
  left: 20%;
  right: 80%;
}
.aInfo{
  position: absolute;
  bottom: 25px;
  justify-content: space-evenly;
}

