$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  custom-color: #0277bd,
);


page-home {}


.searchbar{
  background-color: #50514f;
  padding: 10px;
}

.login{
  background-color: #ffe066;
  padding: 5px;
  font-size: large;
}

.channelList{
  font-size: large;
  padding: 5px;
}

.mainMenuBox{
  text-align: center;
  border-style: solid;
  border-width: 2px;
  background-color: lightgray;
}

.register{
  background-color: #70c1b3;
  padding: 5px;
  font-size: large;
}
.profile{
  background-color: #2F9599;
}

.logout{
  background-color: #f25f5c;
}

h1{
  text-align: center;
  padding: 10px;
  color: #F26B38;
}

h5{
  text-align: center;
  padding: 5px;
}

ul{
  font-size: large;
  list-style: none;
  padding: 5px;
}

.toolbar-background{
  background-color: #247ba0;
}

.toolbar-title{
  color: white;
}

.hamburger {
  color: #50514f;
}


.addButton{
  color: black;
  background-color: orangered;
}

.mainMenuBackground{
  background: url(https://unsplash.it/1080/720/?random) no-repeat;
}

