<ion-header>
  <ion-toolbar>
  <ion-nav #content [root]="rootPage"></ion-nav>
  <ion-navbar>

    <button class="hamburger" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>


    <ion-title>
      HobbySpot
    </ion-title>
  </ion-navbar>
  </ion-toolbar>
</ion-header>
<ion-menu [content]="content" persistent=“true”>
  <ion-header class="menuHeader">
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-searchbar placeholder="Search via tags" class="searchbar"
        [(ngModel)]="myInput"
        [showCancelButton]="shouldShowCancel"
        (ionInput)="onInput($event)"
        (ionCancel)="onCancel($event)">
      </ion-searchbar>

      <ion-list>
        <ion-item *ngFor="let item of items">
          <li (click)= setItems(channel)>
          {{item}}
          </li>
        </ion-item>
      </ion-list>

      <!-- When user is not logged in -->
      <div *ngIf="!mediaProvider.isLoggedIn">
        <button no-lines class="login" ion-item (click)="login()"> Log in </button>
        <button no-lines class="register" ion-item (click)="register()"> Register </button>
      </div>

      <!-- When user is logged -->
      <div *ngIf="mediaProvider.isLoggedIn">
        <h5> Recent tables </h5>
        <button no-lines class="upload" ion-item (click)="upload()"> Upload </button>

      <div *ngIf="this.mediaProvider.isLoggedIn">
        <button no-lines class="logout" ion-item (click)="logout()"> Log out </button>
      </div>

    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>

<ion-content padding>
  <h1>Channels</h1>
  <ion-list *ngFor = "let channeltag of channeltags">
    <ion-label (click) = goToChannel(channeltag) >
      {{channeltag}}
    </ion-label>
  </ion-list>


  <!-- When user is logged in, he can see add button -->
  <div *ngIf="mediaProvider.isLoggedIn">
    <button no-lines class="addButton" ion-item (click)="upload()">
      <ion-icon icon-only name="add-circle"></ion-icon>
    </button>
  </div>

</ion-content>
