page-categories {
}

.categoryBox{
  border-style: solid;
  border-width: 2px;
  background-color: lightgray;
}

.tagList{
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  display: inline-block;
}

