<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Comments</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-label>{{reqfile.title}} by {{reqfile.user_name}}</ion-label>
  <img [src]="mediaProvider.mediaUrl + (reqfile.filename | thumbnail: 'medium')"/>
  <p>{{reqfile.description}}</p>
  <div *ngIf = "comments.length>0">
    <h2>Comments</h2>
    <ion-list *ngFor = "let c of comments">
      <ion-item class="commentBox">
        <p>{{c.user_name}} at {{c.time_added | timeFormatter}}</p>
        <ion-item [innerHTML]="c.comment" text-wrap></ion-item>
      </ion-item>
    </ion-list>
  </div>
  <ion-textarea [(ngModel)]="mediaProvider.commentToAdd" placeholder="Add comment" rows = "5" padding name="commentingarea"></ion-textarea>
  <button ion-button (click) = "addAComment()" [round]="true" >Add a comment</button>
</ion-content>
